.body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 1em;
  text-align: justify;
  background: url(../../../assets/images/bg.png) no-repeat center/cover fixed;
  background-color: #fffffffc;
  color: black;
  overflow: scroll;
}

strong.heading {
  font-size: 1.3rem;
}

li {
  line-height: 1.5rem;
}
