ion-content {
  --background: url(../../../assets/images/bg.png) no-repeat center/cover fixed;
  background-color: #fffffffc;
  div{
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1868b9;
    font-size: 30px;
    font-weight: bold;
    font-family: "Montserrat";
  }
}
