ion-content {
  --background: url(../../../assets/images/bg.png) no-repeat center/cover fixed;
  background-color: #fffffffc;
  .msg{
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1868b9;
    font-size: 30px;
    font-weight: bold;
    font-family: "Montserrat";
  }
}

.error{
  margin-top: 15%;
  .title{
    color: black;
    font-size: 1.3rem;
    font-family: "Montserrat";
    text-align: center;
  }
  img{
    width: 75%;
    margin: auto;
    display: block;
  }
  .button{
    background: #6BB0E9;
    text-align: center;
    width: fit-content;
    margin: auto;
    padding: 15px;
    border-radius: 25px;
    font-family: "Montserrat";
    font-weight: bold;
  }
  .button2{
    background: #6BB0E9;
    text-align: center;
    width: fit-content;
    margin: auto;
    padding: 15px;
    border-radius: 25px;
    font-family: "Montserrat";
    font-weight: bold;
    margin-top: 10px;
  }
  a{
    color: white;
    text-decoration: none;
  }
}
