ion-content {
  --background: url(../../../assets/images/bg.png) no-repeat center/cover fixed;
  background-color: #fffffffc;
  --padding-top: 80px;

  ion-card {
    background: rgb(255 255 255 / 81%);
    margin: 15px;

    ion-card-content {
      padding: 15px;

      ion-card-header {
        padding: 0;

        ion-card-title {
          color: #0000007d;
          font-family: "Montserrat";
          font-size: 20px;
        }

        ion-card-subtitle {
          font-size: 12px;
          margin: 0;
        }
      }

      div {
        text-align: right;
        font-size: 12px;
      }
    }
  }
}