<app-header [title]="'Notification'"></app-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="chevron-down-circle-outline" pullingText="Pull to refresh"
      refreshingSpinner="circles" refreshingText="Refreshing..."></ion-refresher-content>
  </ion-refresher>
  <ion-card *ngFor="let item of notifications">
    <ion-card-content>
      <ion-card-header>
        <ion-card-title>
          {{item.title}}
        </ion-card-title>
        <ion-card-subtitle>
          {{item.body}}
        </ion-card-subtitle>
      </ion-card-header>
      <div>{{item.creationDate | date}}</div>
    </ion-card-content>
  </ion-card>
</ion-content>