.card-container{
  color: white;
  height: 80px;
  margin: 5px 15px;
  background: green;
  border-radius: 10px;
  padding: 5px 5px;
}

table{
  height: 100%;
  width: -webkit-fill-available;
  thead{
    font-size: 13px;
  }
}
