ion-content {
  --background: url(../../../assets/images/bg.png) no-repeat center/cover fixed;
  background-color: #fffffffc;
}
.canvas{
  margin-top: 50px;
}
.investorCard{
  margin-top: -30px;
}
.bar-chart{
  margin-top: 20px;
}
