ion-content{
  --background: url(../../../assets/images/login-signup.png) no-repeat center/cover fixed;
}

.btn-container{
  width: 150px;
  height: 150px;
  position: absolute;
  top:60px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  ion-button{
    width: 100%;
    opacity: 0;
  }
  .login{
    margin-bottom: 50px;
  }
}
