<ion-row class="heading">
  <ion-col
    *ngFor="let titleArr of tableTitle"
    [ngClass]="titleArr.length == 1 ? 'col-center' : ''"
    size="2.2"
  >
    <div class="margin-t-5" *ngFor="let title of titleArr">{{ title }}</div>
  </ion-col>
</ion-row>
<ion-row
  *ngFor="let dataRow of tableData.data"
  (click)="gotoDetail(tableData.item)"
>
  <ion-col
    size="2.2"
    *ngFor="let dataCol of dataRow"
    [ngClass]="dataCol.length == 1 ? 'col-center' : ''"
  >
    <div class="margin-t-5" *ngFor="let data of dataCol">
      <span *ngIf="isReturn(data)" [ngClass]="isRed(data) ? 'red' : 'green'">{{
        data
      }}</span>
      <span *ngIf="!isReturn(data)">{{ data }}</span>
    </div>
  </ion-col>
</ion-row>
