ion-row{
  justify-content: space-between;
  max-width: 95vw;
  margin: 0 auto;
}

.heading{
  font-size: 10px !important;
  color: #00000075;
  ion-col{
    border: 1px solid black;
    color: #004aad;
    background: white;
    margin: 0px 0px 5px 5px;
    div{
    font-size: 8px;
  }
  }
}
ion-row:nth-child(n+1){
  ion-col{
    border: 1px solid black;
    background: white;
    margin: 0px 0px 5px 5px;
    div{
      font-size: .5rem;
      font-weight: bold;
    }
  }
  ion-col:first-child{
    margin-left: 0;
  }
}
.no-data{
  color: black;
  text-align: center;
  font-size: 14px;
  font-family: "Montserrat";
}
