<ion-header class="app-header">
  <ion-toolbar>
    <ion-buttons class="menu-btn">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-searchbar></ion-searchbar>
    <ion-avatar>
      <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/demos/api/avatar/avatar.svg" />
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="title">
    {{page}}
  </div>
  <div class="card-container" *ngIf="items.length">
    <app-generic-portfolio-card *ngFor="let item of items;let i = index" (click)="gotoDetail(item)" [cardIndex]="i"
      [item]="item" [page]="page">
    </app-generic-portfolio-card>
  </div>
  <div class="noData" *ngIf="error">
    No Data Found
  </div>
</ion-content>

<ion-footer>
  <!-- [routerLink]="'/generic-portfolios/' + portfolios[1].name+'/'+pageIndex+1" -->
  <a (click)="next()" *ngIf="pageIndex<portfoliosInvestments[pageTitle].length-1">>>>></a>
  <div class="home-button" *ngIf="pageIndex==portfoliosInvestments[pageTitle].length-1"
    (click)="navCtrl.navigateRoot('/tabs/home')">
    <ion-icon name="home"></ion-icon>
  </div>
</ion-footer>
