<app-header></app-header>

<ion-content>
  <div>
    <span class="title">
      {{pageTitle.toUpperCase()}}
    </span>
    <span class="sub-title">
      {{policyType}}
    </span>
  </div>
  <div class="card-container" *ngIf="items.length">
    <app-generic-portfolio-card *ngFor="let item of items;let i = index" (click)="gotoDetail(item)" [cardIndex]="i"
      [item]="item" [policyType]="policyType" [pageTitle]="pageTitle">
    </app-generic-portfolio-card>
  </div>
  <div class="noData" *ngIf="error">
    No Data Found
  </div>
</ion-content>

<ion-footer>
  <!-- [routerLink]="'/generic-portfolios/' + portfolios[1].name+'/'+pageIndex+1" -->
  <a (click)="next()" *ngIf="pageIndex<portfolios[pageTitle].length-1">>>>></a>
  <div class="home-button" *ngIf="pageIndex===portfolios[pageTitle].length-1"
    (click)="navCtrl.navigateRoot('/tabs/home')">
    <ion-icon name="home"></ion-icon>
  </div>
</ion-footer>