.title {
  font-size: 25px;
  text-align: center;
  color: black;
  margin-top: 10px;
  display: block;
}

.sub-title {
  font-size: 20px;
  text-align: center;
  color: black;
  display: block;
  margin-bottom: 10px;
}

ion-content {
  --background: #f8f8f8;
}

ion-footer {
  background: #f8f8f8;
  text-align: center;

  a {
    font-size: 30px;
    text-decoration: none;
  }
}