ion-content {
    --background: url(../../../assets/images/bg.png) no-repeat center/cover fixed;
    --primary-color: #004AAD;
}

.header {
    font-size: calc(25rem / 16);
    text-align: center;
    color: var(--primary-color);
    font-weight: 400;
    margin-top: 5em;
}
.sub-header {
    font-size: calc(15rem / 16);
    text-align: center;
    color: var(--primary-color);
    font-weight: 700;
    // margin-top: 5em;
    margin-bottom: 1em;
}
ion-item {
    --background: rgb(75 160 238);
    border-radius: calc(10rem / 16);
    margin-bottom: calc(15rem / 16);
}
ion-textarea,
ion-input {
    color: white;
}

form {
    width: 90%;
    margin-left: 5%;
}

div {
    color: var(--primary-color);
    font-family: "Montserrat";
}

.cirFullBlue {
    --background: linear-gradient(-90deg, #004AAD 0%, #00ADE1 100%);
    color: white;
    width: 50%;
    text-shadow: 0px 1px 6px rgba(0, 0, 0, 0.5803921569);
    max-width: calc(240rem / 16);
    height: 3rem;
    --border-radius: calc(24rem / 16);
    font-size: calc(15rem / 16);
    margin: auto;
    display: block;
}