<div class="body" id="contentToConvert">
  <div class="heading">
    STATEMENT - {{currentDate}}
  </div>
  <div class="client-detail">
    <div>
      Client ID - {{clientID}}
    </div>
    <div>
      Client Name - {{clientName}}
    </div>
    <div>
      Family sum assured - 1231
    </div>
  </div>
  <div class="table">
    <div class="table-heading">LIFE INSURANCE</div>
  <table>
    <tr>
      <th> S.No.	</th>
      <th> PROPOSER NAME	</th>
      <th> TYPE OF POLICY	</th>
      <th> COMPANY NAME	</th>
      <th> PLAN NAME 	</th>
      <th> POLICY NUMBER	</th>
      <th> D.O.C.	</th>
      <th> MODAL </th>
      <th> PREMIUM	MODE	</th>
      <th> POLICY </th>
      <th> TERM	</th>
      <th> PREMIUM PAY TERM	</th>
      <th> SUM ASSURED	</th>
      <th> INVESTED AMOUNT	</th>
      <th> MATURITY AMOUNT	</th>
      <th> CURRENT STATUS</th>
    </tr>
    <tr>
      <td>Alfreds Futterkiste</td>
      <td>Maria Anders</td>
      <td>Germany</td>
      <td>Germany</td>
      <td>Germany</td>
      <td>Germany</td>
      <td>Germany</td>
      <td>Germany</td>
      <td>Germany</td>
      <td>Germany</td>
      <td>Germany</td>
      <td>Germany</td>
      <td>Germany</td>
      <td>Germany</td>
      <td>Germany</td>
      <td>Germany</td>
    </tr>
    <tr>
      <td>Alfreds Futterkiste</td>
      <td>Maria Anders</td>
      <td>Germany</td>
      <td>Germany</td>
      <td>Germany</td>
      <td>Germany</td>
      <td>Germany</td>
      <td>Germany</td>
      <td>Germany</td>
      <td>Germany</td>
      <td>Germany</td>
      <td>Germany</td>
      <td>Germany</td>
      <td>Germany</td>
      <td>Germany</td>
      <td>Germany</td>
    </tr>
    <tr>
      <td>Alfreds Futterkiste</td>
      <td>Maria Anders</td>
      <td>Germany</td>
      <td>Germany</td>
      <td>Gerasmany</td>
      <td>Germany</td>
      <td>Germany</td>
      <td>Germany</td>
      <td>Germany</td>
      <td>Germany</td>
      <td>Germany</td>
      <td>Germany</td>
      <td>Germany</td>
      <td>Germany</td>
      <td>Germany</td>
      <td>Germany</td>
    </tr>
  </table>
  </div>
</div>
