<div class="investorCard">
  <ion-grid>
    <ion-row>
      <ion-col>TYPE OF PLAN- {{ investorName.toUpperCase() }}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="2.4">PROPOSER</ion-col>
      <ion-col size="2.4">COMPANY + PLAN</ion-col>
      <ion-col size="2.4">PURCHASE DATE + POLICY PERIOD</ion-col>
      <ion-col size="2.4">PREMIUM</ion-col>
      <ion-col size="2.4">POLICY STATUS</ion-col>
    </ion-row>
    <ion-row *ngFor="let item of data" (click)="gotoDetail(item)">
      <div class="ion-activatable ripple">
        <ion-ripple-effect></ion-ripple-effect>
      </div>
      <ion-col size="2.4">{{ item.proposer }}</ion-col>
      <ion-col size="2.4">{{ item.company }} - {{ item.plan }}</ion-col>
      <ion-col size="2.4">
        {{ item.purchaseDate | date : "dd-MMM-yyyy" }} - {{ item.policyPeriod }}
      </ion-col>
      <ion-col size="2.4">{{ item.premium }}</ion-col>
      <ion-col size="2.4">{{ item.statusOfPolicy }}</ion-col>
    </ion-row>
  </ion-grid>
</div>
