ion-content {
  // --background: #f4f4f4;
  --background: url(../../../assets/images/bg.png) no-repeat center/cover fixed;
  background-color: #fffffffc;
  padding: 10px;

  ion-row {
    color: black;
    border-left: 1px solid;
    border-right: 1px solid;

    ion-col {
      border-bottom: 1px solid;
    }

    .value {
      border-left: 1px solid;
    }

    // padding: 5px;
  }
}