.app-header {
  position: fixed;

  .menu-btn {
    display: inline-block;
    float: left;
    margin: 6px 0px 0 -4px;
  }

  .notify-btn {
    display: inline-block;
    float: right;
    margin: 6px 0px 0 -4px;

    ion-icon {
      font-size: 30px;
    }
  }

  ion-icon {
    color: white;
  }

  ion-menu-button {
    color: white;
  }

  ion-toolbar {
    // height: 80px;
    /* background: green; */
    // --background: green;
    // border-radius: 0 0 20px 20px;
    --border-width: 0 !important;
    // --background:#80bbea;
    // linear-gradient(0deg, #2196F3 0%, #3F51B5 100%) !important
    --background: linear-gradient(0deg, #2196F3 0%, #3F51B5 100%) !important;
    /* background: linear-gradient(90deg, #420e9b,#02b6fd); */
    padding: 15px 15px 15px !important;

    ion-searchbar {
      width: 70%;
      display: inline-block;
      margin: auto;
      padding: 5px;
      --background: white;
    }

    ion-avatar {
      float: right;
    }
  }
}

p,
ion-title,
a,
span,
ion-button,
td {
  font-family: 'Montserrat';
}

ion-title {
  font-size: 1.3rem;
}

// ion-title{
//   font-family: 'Montserrat';
// }

.header-margin {
  padding-top: 80px;
}

.noData {
  position: absolute;
  text-align: center;
  margin: auto;
  color: black;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
}

ion-toolbars.toolbar-searchbar {
  padding: 15px 0;
  text-align: center;
}

.investorCard{
  // background: white;
  color: black;
  text-align: center;
  // margin: 10px 0;
  font-family: "Montserrat";
  ion-col{
    div{
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  // ion-grid{
  //   overflow-x: scroll!important;
  //   overflow-y: hidden;
  //   ion-row{
  //     flex-wrap: nowrap;
  //   }
  // }
  .title{
    color: #004aad;
    width: 70%;
    font-size: 15px;
    border-bottom: 1px solid;
    margin: 5px auto;
  }

  .red{
    color: red;
  }
  .green{
    color:green
  }
}
.custom-modal{
  --ion-background-color: transparent !important;
}
.margin-t-5:nth-child(2){
  margin-top: 5px;
}
.elipses{

}

.col-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-anchor{
  background: #80bbea;
  padding: 5px 20px;
  color: white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

:root {
  text-transform: uppercase;
  font-family: "Montserrat";
  }


.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
  // margin: 0 4px;
  width: 15px !important;
  height: 15px !important;
}

.swiper-pagination-bullet {
  width: 15px !important;
  height: 15px !important;
  border-radius: 10px;
}
.swiper-container-horizontal>.swiper-pagination-bullets{
  bottom: 20px !important;
  left: 0;
  width: 100%;
}
.highcharts-root {
  width: 100% !important;
  height: 100% !important;
}
.highcharts-container{
  width: 100% !important;
  height: 100% !important;
}
generice-portfolio-table ion-row ion-col {
  background: linear-gradient(269deg, #c8e4f9, white) !important;
}
ion-popover {
  --background: #8FC6F2;
  --backdrop-opacity: 0;
  --box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.6);
  --color: black;
  --width: 100px;
}

ion-popover .popover-list-item {
  padding: 7px 0;
  font-size: 12px;
  // margin: auto;
  text-align: center;
  color: black;
}
ion-popover .popover-list-item.selected{
  width: 100%;
  text-align: center;
  background: white;
}

ion-popover .clicked{
  background: white;
}
