<ion-content>
  <div class="screenBg overlayStyle1">
    <div class="loginFrame">
      <ion-grid>
        <ion-row>
          <ion-col>
            <img class="pfm-logo" src="assets/icon/pfm-logo-black.png" alt="">
          </ion-col>
        </ion-row>
        <ion-row class="login-header">
          <ion-col>
            <div>
              {{forgotPassword ? 'FORGOT PASSWORD' : 'SIGN IN'}}
            </div>
            <p *ngIf="forgotPassword" class="happyToAssist">WE ARE HAPPY TO ASSIST YOU</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div *ngIf="!forgotPassword" class="formDiv">
              <form
                #formData="ngForm"
                (ngSubmit)="onSubmit(formData)"
                class="formStyle1"
              >
                <ion-item>
                  <ion-input type="email" placeholder="EMAIL ADDRESS" [(ngModel)]="email" name="email" required
                    pattern="[A-Za-z0-9._%+-]{3,}@[a-zA-Z]{3,}([.]{1}[a-zA-Z]{2,}|[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,})">
                  </ion-input>
                </ion-item>
                <ion-item>
                  <ion-input [type]="showPassword ? 'text' :'password'" placeholder="PASSWORD" [(ngModel)]="password"
                    name="password" required>
                  </ion-input>
                  <ion-icon
                    *ngIf="!showPassword"
                    (click)="toggleShow()"
                    name="eye"
                  ></ion-icon>
                  <ion-icon
                    *ngIf="showPassword"
                    (click)="toggleShow()"
                    name="eye-off"
                  ></ion-icon>
                </ion-item>
                <p (click)="onForgotClick()" class="forgot-password">
                  Forgot Password?
                </p>
                <ion-button class="cirFullBlue" [disabled]="formData.invalid" type="submit">LOGIN</ion-button>
                <ion-button class="cirFullBlue registerButton" type="button">REGISTER</ion-button>
              </form>
            </div>
            <div *ngIf="forgotPassword" class="formDiv">
              <form
                #formData="ngForm"
                (ngSubmit)="resetPassword()"
                class="formStyle1"
              >
                <ion-item>
                  <ion-input type="email" placeholder="Email Address" [(ngModel)]="email" name="email" required pattern="[A-Za-z0-9._%+-]{3,}@[a-zA-Z]{3,}([.]{1}[a-zA-Z]{2,}|[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,})">
                  </ion-input>
                </ion-item>
                <p (click)="forgotPassword = !forgotPassword;" class="forgot-password"></p>
                <ion-button class="cirFullBlue" [disabled]="formData.invalid" type="submit">FORGOT</ion-button>
                <ion-button class="cirFullBlue registerButton" type="button" (click)="forgotPassword = !forgotPassword;">BACK TO LOGIN</ion-button>
              </form>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>
