ion-content {
  // --background: #1d1d1db3 !important;
  // --background: var(--ion-color-background-shade) !important;
  // background-position: center;
  --background: url(../../../assets/backscreen.svg) no-repeat center/cover fixed;
  --primary-color: #004AAD;
  // --background: linear-gradient(0deg, #2196F3 0%, #3F51B5 100%) !important;

  // background-color: #fffffffc;

  .login-header {
    font-size: calc(25rem / 16);
    text-align: center;
    color: var(--primary-color);
    font-weight: 400;
    margin-bottom: 20px;

    div {
      color: var(--primary-color);
      font-family: "Montserrat";
    }
  }
  .happyToAssist {
    text-align: center;
    width: 100%;
    font-size: calc(17rem / 16);
  }
  .screenBg {
    .loginFrame {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      z-index: 99;
      padding: 0 5px;

      ion-grid {
        position: relative;
        z-index: 1;

        .logo {
          width: 100%;
          text-align: center;
          margin-bottom: 5px;

          ion-img {
            max-width: 38%;
            margin: 0 auto;
          }
        }

        .textBox {
          width: 100%;
          text-align: center;
          font-style: normal;
          margin-top: 15px;

          p {
            color: #ffffff;
            width: 100%;
            margin: 0;
            display: inline-block;
            vertical-align: top;
            font-size: 16px;

            a {
              color: #adadad;
            }
          }
        }
      }

      .validation-containter {
        min-height: 60px;

        .validation-error {
          padding: 10px 15px;
          border-radius: 6px;
          background-color: #b9414178;
          margin-bottom: 0px;
          color: red;
          font-size: 14px;
        }
      }
    }
  }

  .warningIcon {
    max-width: 100%;
    width: 20px;
    border: 0;
    margin-right: 5px;
  }

  .cirFullBlue {
    // width: 100%;
    // --background: #white;
    --background: linear-gradient(-90deg,#004AAD 0%, #00ADE1 100%);
    // --background: white;
    /* align-items: center; */
    color: white;
    width: 50%;
    text-shadow: 0px 1px 6px rgba(0, 0, 0, 0.5803921569);
    max-width: calc(240rem / 16);
    height: 3rem;
    --border-radius: calc(24rem / 16);
    font-size: calc(15rem / 16);
    margin: auto;
    display: block;
    // background: linear-gradient(0deg, #2196F3 0%, #3F51B5 100%) !important;
  }

  form.formStyle1 {
    text-align: -webkit-center;
  }
  .formStyle1 {
    ion-item {
      // --ion-item-background:transparent;
      --ion-item-background: #53A6E1;
      --padding-start: 0px;
      // --inner-padding-end: 0px;
      margin-bottom: 20px;
      // --border-color: transparent;
      // --highlight-color-focused: transparent;
      // --highlight-color-visited: transparent;
      // --highlight-color-activeted: transparent;
      --min-height: auto;
      background-color: white;
      border: 1px solid #ddd;
      // background: rgba(255, 255, 255, 0.20);
      border-radius: 10px;
      overflow: hidden;
      max-width: calc(300rem / 16);

      ion-input {
        // padding: 5px 12px !important;
        // color: white;
        // color: #505050;
        color: white;
        text-shadow: 0px 1px 6px rgba(0, 0, 0, 0.5803921569);
        --padding-start: 15px;
        --padding-end: 15px;
        font-size: calc(13rem / 16);
        // --placeholder-color: white;
        // --placeholder-color: rgb(175, 175, 175);
        // --placeholder-font-style: initial;
        // --placeholder-font-weight: initial;
        // --placeholder-opacity: 0.8;
        // --show-full-highlight: 0;
        // --show-inset-highlight: 1;
        font-family: 'Montserrat' !important;
        // font-family: var(--font-family-main) !important;
      }

      ion-icon {
        color: white;
        text-shadow: 0px 1px 6px rgba(0, 0, 0, 0.5803921569);
        // color:rgb(175, 175, 175);
        font-size: 15px;
        font-size: calc(20rem / 16);
        // margin: 0 15px;
      }
      
    }

    .registerButton {
      margin-top: calc(20rem / 16);
    }
    ion-item:last-of-type {
      margin-bottom: 0px;
    }

    .forgot-password {
      // margin:5px 0 0 5px;
      margin: 25px 0 calc(60rem / 16) 0;
      text-align: center;
      width: 100%;
      color: black;
      font-weight: bold;
      display: inline-block;
    }

    .forgot-password:active {
      color: #c3c3c3b8;
    }

    // ion-button {
    //   --border-radius: 25px;
    // }
  }

  .register {
    color: #c3c3c3;
    text-align: center;
    margin-top: 10px;

    a {
      text-decoration: none;
      color: #c3c3c3;
      font-weight: 500;
    }
  }

  .pfm-logo {
    width: 70%;
    margin: auto;
    display: block;
    margin-bottom: calc(30rem / 16);
  }
}

ion-input{
  text-transform: none !important;
}

.register{
  margin-top: 10px;
}
