<ion-content>
  <div class="screenBg overlayStyle1">
    <div class="loginFrame">
      <ion-grid>
        <ion-row class="login-header">
          <ion-col>
            <div>
              Log In
            </div>
          </ion-col>
        </ion-row>
        <ion-row class="validation-containter">
          <ion-col>
            <div class="validation-error" *ngIf="invalidUserError">
              <span class="form-error">{{ invalidUserError }}</span>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div class="formDiv">
              <form #formData="ngForm" (ngSubmit)="onSubmit(formData)" class="formStyle1">
                <ion-item>
                  <ion-input type="email" placeholder="Email Address" [(ngModel)]="email" name="email" required
                    pattern="[A-Za-z0-9._%+-]{3,}@[a-zA-Z]{3,}([.]{1}[a-zA-Z]{2,}|[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,})">
                  </ion-input>
                  <!-- <img src="assets/images/warning.png" *ngIf="invalidUserError" class="warningIcon" /> -->
                </ion-item>
                <ion-item>
                  <ion-input [type]="showPassword ? 'text' :'password'" placeholder="Password" [(ngModel)]="password"
                    name="password" required>
                  </ion-input>
                  <ion-icon *ngIf="!showPassword" (click)="toggleShow()" name="eye"></ion-icon>
                  <ion-icon *ngIf="showPassword" (click)="toggleShow()" name="eye-off"></ion-icon>
                </ion-item>
                <p (click)="GotoForgot();" class="forgot-password">
                  Forgot Password?
                </p>
                <ion-button class="cirFullBlue" [disabled]="formData.invalid" type="submit">Login
                </ion-button>
              </form>
            </div>
            <p class="register">
              <a href="#">Need Help?</a>
            </p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>
