<ion-content>
  <div class="screenBg overlayStyle1">
    <div class="loginFrame">
      <ion-grid>
        <ion-row>
          <ion-col>
            <img class="pfm-logo" src="assets/icon/pfm-logo.png" alt="" />
          </ion-col>
        </ion-row>
        <ion-row class="login-header">
          <ion-col>
            <div>{{title}}</div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div *ngIf="!forgotPassword" class="formDiv">
              <form
                #formData="ngForm"
                (ngSubmit)="onSubmit(formData)"
                class="formStyle1"
              >
                <ion-item>
                  <ion-input
                    type="email"
                    placeholder="Email Address"
                    [(ngModel)]="email"
                    name="email"
                    required
                    pattern="[A-Za-z0-9._%+-]{3,}@[a-zA-Z]{3,}([.]{1}[a-zA-Z]{2,}|[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,})"
                  >
                  </ion-input>
                </ion-item>
                <ion-item>
                  <ion-input
                    [type]="showPassword ? 'text' :'password'"
                    placeholder="Password"
                    [(ngModel)]="password"
                    name="password"
                    required
                  >
                  </ion-input>
                  <ion-icon
                    *ngIf="!showPassword"
                    (click)="toggleShow()"
                    name="eye"
                  ></ion-icon>
                  <ion-icon
                    *ngIf="showPassword"
                    (click)="toggleShow()"
                    name="eye-off"
                  ></ion-icon>
                </ion-item>
                <p (click)="onForgotClick()" class="forgot-password">
                  Forgot Password?
                </p>
                <ion-button
                  class="cirFullBlue"
                  [disabled]="formData.invalid"
                  type="submit"
                  >Login
                </ion-button>
                <ion-button class="cirFullBlue register" (click)="register()"
                  >Register
                </ion-button>
              </form>
            </div>
            <div *ngIf="forgotPassword" class="formDiv">
              <form
                #formData="ngForm"
                (ngSubmit)="resetPassword()"
                class="formStyle1"
              >
                <ion-item>
                  <ion-input
                    type="email"
                    placeholder="Email Address"
                    [(ngModel)]="email"
                    name="email"
                    required
                    pattern="[A-Za-z0-9._%+-]{3,}@[a-zA-Z]{3,}([.]{1}[a-zA-Z]{2,}|[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,})"
                  >
                  </ion-input>
                </ion-item>
                <p (click)="backToLogin()" class="forgot-password">
                  Back to login?
                </p>
                <ion-button
                  class="cirFullBlue"
                  [disabled]="formData.invalid"
                  type="submit"
                  >Reset
                </ion-button>
              </form>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>
