ion-content {
  --background: url(../../../assets/images/bg.png) no-repeat center/cover fixed;
  background-color: #fffffffc;
  ion-accordion-group{
    margin: 20px;
    ion-accordion{
      margin: 20px auto;
      border-radius: 15px;
      background: none;
      ion-item > ion-label{
        font-family: "Montserrat";
      }
      .content-body{
        // background: #cae7fa;
        color: black;
        font-family: "Montserrat";
        ion-col{
          padding: 10px;
          border: 1px solid;
          margin-bottom: 5px;
          background-color: white;
          display: flex;
          align-items: center;
        }
        ion-col:nth-child(1){
          // border-right: 1px solid;
          margin-right: 5px;
        }
        ion-row{
          // border-bottom: 1px solid;
        }
        // ion-row:last-child{
        //   border-bottom: 0;
        // }
      }
    }
  }
  .url-container{
    display: flex;
    text-align: center;
    margin: 20px;
    div{
      background: #80bbea;
      /* color: white; */
      padding: 10px;
      border-radius: 25px;
      width: 50%;
      a{
        color: white;
        text-decoration: none;
        font-size: 14px;
      }
    }
  }
}
