<app-header [title]="title"></app-header>
<ion-content>
  <div class="header-margin">
    <ion-accordion-group>
      <ion-accordion
        toggleIconSlot="start"
        toggleIcon="caret-down-outline"
        *ngFor="let item of portfolioData;let i=index"
        [value]="i+1"
      >
        <ion-item slot="header" color="primary">
          <ion-label>{{item.title}}</ion-label>
        </ion-item>
        <div class="content-body" slot="content">
          <ng-container *ngFor="let dataItem of item.data;let j=index">
            <ion-row *ngIf="dataItem.value !==null">
              <ng-container *ngIf="dataItem.key!='url';else url">
                <ion-col>{{dataItem.key}}</ion-col>
                <ion-col *ngIf="!isObject(dataItem.value);else modalView"
                  >{{dataItem.value}}</ion-col
                >
                <ng-template #modalView>
                  <ion-col>
                    <a class="modal-anchor" (click)="openModal(dataItem,i+''+j)"
                      >Click here</a
                    >
                  </ion-col>
                </ng-template>
              </ng-container>
              <ng-template #url>
                <ion-col style="border: 0px">
                  <a [href]="dataItem.value">Click here</a>
                </ion-col>
              </ng-template>
            </ion-row>
          </ng-container>
        </div>
      </ion-accordion>
    </ion-accordion-group>
    <div class="url-container">
      <div *ngIf="allItems?.branchLocator">
        <a [href]="allItems.branchLocator">BRANCH LOCATOR</a>
      </div>
      <div *ngIf="allItems?.policyDownload">
        <a [href]="allItems.policyDownload">POLICY DOWNLOAD</a>
      </div>
      <div *ngIf="allItems?.claimProcedure">
        <a [href]="allItems.claimProcedure">CLAIM PROCEDURE</a>
      </div>
    </div>
  </div>
</ion-content>
