.card{
  background: #ffffff;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}

.header{
  .title{
    font-size: 15px;
    font-weight: bold;
    display: block;
  }
  .current-nav{
    font-size: 10px;
  }
}

.content{
  table{
    text-align: center;
    width: 100%;
    margin: 10px 0;
    td{
      font-size: 12px;
    }
    .cagr{
      color: green;
    }
  }
}

.bar{
  .bar-outer{
    height: 10px;
    // background: #a6a6ea;
    border-radius: 10px;
  }
  .bar-inner {
    height: 10px;
    // background: #6b6be2;
    border-radius: 10px;
  }
}
