<div class="card">
  <div class="header">
    <span class="title">
      {{title}}
    </span>
    <!-- <span class="current-nav">Ex-flexicap | Current Nav {{item.currentNav}}</span> -->
  </div>
  <div class="content">
    <table>
      <tbody *ngIf="pageTitle==='life-insurance'">
        <tr>
          <td>Cover Amount</td>
          <td>Premiums</td>
          <td>Valid till</td>
          <td>Policy Number</td>
        </tr>
        <tr>
          <td>{{item.sumAssured}}</td>
          <td>{{item.annualPremium}}</td>
          <td>{{item.dateOfMaturity}}</td>
          <td>{{item.policyNo}}</td>
        </tr>
      </tbody>
      <tbody *ngIf="pageTitle==='vehicle-insurance'">
        <tr>
          <td>Vehicle Name</td>
          <td>Premium</td>
          <td>Policy Number</td>
          <td>Period</td>
        </tr>
        <tr>
          <td>{{item.vehicleName}}</td>
          <td>{{item.premium}}</td>
          <td>{{item.policyNumber}}</td>
          <td>{{item.policyPeriod}}</td>
        </tr>
      </tbody>
      <tbody *ngIf="pageTitle==='mediclaim'">
        <tr>
          <td>Policy Number</td>
          <td>Sum assured</td>
          <td>Premium</td>
          <td>Period</td>
        </tr>
        <tr>
          <td>{{item.policyNumber}}</td>
          <td>{{item.sumAssured}}</td>
          <td>{{item.premium}}</td>
          <td>{{item.policyPeriod}}</td>
        </tr>
      </tbody>
      <tbody *ngIf="pageTitle==='corporate-insurance'">
        <tr>
          <td>Policy Number</td>
          <td>Company Name</td>
          <td>Premium</td>
          <td>Period</td>
        </tr>
        <tr>
          <td>{{item.policyNumber}}</td>
          <td>{{item.companyName}}</td>
          <td>{{item.premium}}</td>
          <td>{{item.policyPeriod}}</td>
        </tr>
      </tbody>
      <tbody *ngIf="pageTitle==='others'">
        <tr>
          <td>Total Investment</td>
          <td>Maturity Value</td>
          <td>Maturity Date</td>
          <td>Return of Investment</td>
        </tr>
        <tr>
          <td>{{item.totalInvestment}}</td>
          <td>{{item.maturityValue}}</td>
          <td>{{item.maturityDate}}</td>
          <td>{{item.returnOnInvestment}}</td>
        </tr>
      </tbody>
      <tbody *ngIf="pageTitle==='mutual-fund'">
        <tr>
          <td>Amount Invested</td>
          <td>Current Nav</td>
          <td>Fund Category</td>
          <td>Date of Purchase</td>
        </tr>
        <tr>
          <td>{{item.amountInvested}}</td>
          <td>{{item.currentNav}}</td>
          <td>{{item.fundCategory}}</td>
          <td>{{item.dateOfPurchase}}</td>
        </tr>
      </tbody>
      <tbody *ngIf="pageTitle==='equities'">
        <tr>
          <td>Current Share Price</td>
          <td>Current Fund Value</td>
          <td>Current Shares</td>
          <td>Date of Purchase</td>
        </tr>
        <tr>
          <td>{{item.currentSharePrice}}</td>
          <td>{{item.currentFundValue}}</td>
          <td>{{item.currentShares}}</td>
          <td>{{item.dateOfPurchase}}</td>
        </tr>
      </tbody>
      <!-- <tbody *ngIf="page==='Life Insurance'">
        <tr>
          <td>Cover Amount</td>
          <td>Premiums</td>
          <td>Valid till</td>
          <td>Policy Number</td>
        </tr>
        <tr>
          <td>{{item.sumAssured}}</td>
          <td>{{item.annualPremium}}</td>
          <td>{{item.dateOfMaturity}}</td>
          <td>{{item.policyNo}}</td>
        </tr>
      </tbody>
      <tbody *ngIf="page==='Medicare'">
        <tr>
          <td>Investments</td>
          <td>Units</td>
          <td>Valuations</td>
          <td class="cagr">CAGR</td>
        </tr>
        <tr>
          <td>{{item.amountInvested}}</td>
          <td>{{item.currentUnits}}</td>
          <td>{{item.valuation}}</td>
          <td class="cagr">{{item.cagr}}%</td>
        </tr>
      </tbody>
      <tbody *ngIf="page==='Mutual Fund'">
        <tr>
          <td>Investments</td>
          <td>Units</td>
          <td>Valuations</td>
          <td class="cagr">CAGR</td>
        </tr>
        <tr>
          <td>{{item.amountInvested}}</td>
          <td>{{item.currentUnits}}</td>
          <td>{{item.valuation}}</td>
          <td class="cagr">{{item.cagr}}%</td>
        </tr>
      </tbody>
      <tbody *ngIf="page==='vehicle-insurance'">
        <tr>
          <td>Investments</td>
          <td>Units</td>
          <td>Valuations</td>
          <td class="cagr">CAGR</td>
        </tr>
        <tr>
          <td>{{item.amountInvested}}</td>
          <td>{{item.currentUnits}}</td>
          <td>{{item.valuation}}</td>
          <td class="cagr">{{item.cagr}}%</td>
        </tr>
      </tbody>
      <tbody *ngIf="page==='Equity'">
        <tr>
          <td>Investments</td>
          <td>Units</td>
          <td>Valuations</td>
          <td class="cagr">CAGR</td>
        </tr>
        <tr>
          <td>{{item.amountInvested}}</td>
          <td>{{item.currentUnits}}</td>
          <td>{{item.valuation}}</td>
          <td class="cagr">{{item.cagr}}%</td>
        </tr>
      </tbody>
      <tbody *ngIf="page==='Bond Debenture'">
        <tr>
          <td>Investments</td>
          <td>Units</td>
          <td>Valuations</td>
          <td class="cagr">CAGR</td>
        </tr>
        <tr>
          <td>{{item.amountInvested}}</td>
          <td>{{item.currentUnits}}</td>
          <td>{{item.valuation}}</td>
          <td class="cagr">{{item.cagr}}%</td>
        </tr>
      </tbody> -->
    </table>
  </div>
  <div class="bar">
    <div class="bar-outer" [id]="'outer'+policyType.split(' ').join('') + cardIndex">
      <div class="bar-inner" [id]="'inner'+policyType.split(' ').join('') + cardIndex"></div>
    </div>
  </div>
</div>