<app-header [title]="'Sum Assured'"></app-header>
<ion-content>
  <div class="ion-padding canvas">
    <div>
      <highcharts-chart
      *ngIf="chartOptions"
        [Highcharts]="highcharts"
        [options]="chartOptions"
        style="width: 100%; display: block;"
      ></highcharts-chart>
    </div>
    <div class="disease-table">
      <ion-row>
        <ion-col>
          <div class="tab-title">Life Sum Assured</div>
        </ion-col>
      </ion-row>
      <ion-row class="rows">
        <ion-col>Investor Name</ion-col>
        <ion-col>Total Sum Assured</ion-col>
      </ion-row>
      <ion-row
        class="rows cols"
        *ngFor="let data of mergedData"
        (click)="onClick(data)"
      >
        <ion-col>{{data.nameOfLifeInsured}}</ion-col>
        <ion-col>{{data.sumAssured ? highChartService.convertAmoutToStr(data.sumAssured) : null}}</ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>
