.container{
      background: #F9F9F9;
      border-radius: 1rem;
      position: absolute;
      width: 90%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-family: "Montserrat";
    .header{
      background: linear-gradient(359deg, #53A6E1, #AAD7F8);
      font-size: calc(20rem / 16);
      padding: 10px;
      border-radius: 1rem;
      position: relative;
    .title{

    }
    .close{
      color: white;
      text-shadow: 0px 1px 6px rgba(0, 0, 0, 0.5803921569);
      margin: auto;
      /* float: right; */
      right: -10px;
      bottom: 0;
      top: 0;
      position: absolute;
      font-size: 25px;
      /* font-weight: bolder; */
    }
  }
  .content{
    color: black;
    padding: 10px;
    max-height: 400px;
    overflow: scroll;
    ion-col{
      padding: 5px;
      border: 1px solid;
      font-size: 0.8rem;
      background: linear-gradient(270deg, #FFFFFF, #E3F7FF);
    }
    ion-col:nth-child(1){
      margin-right: 2.5px;
    }
    ion-col:nth-child(2){
      margin-left: 2.5px;
    }
    ion-row{
      margin-bottom: 5px;
    }
  }
}
.cvg-row{
  font-size: 12px;
  text-align: center;
}
