.container{
    background: #cae7fa;
    border-radius: 15px;
    position: absolute;
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Montserrat";
    .header{
    background: #80bbea;
    font-size: 25px;
    padding: 10px;
    border-radius: 15px;
    position: relative;
    .title{

    }
    .close{
      color: white;
      margin: auto;
      /* float: right; */
      right: -10px;
      bottom: 0;
      top: 0;
      position: absolute;
      font-size: 25px;
      /* font-weight: bolder; */
    }
  }
  .content{
    color: black;
    padding: 10px;
    max-height: 400px;
    overflow: scroll;
    ion-col{
      padding: 5px;
      border: 1px solid;
    }
    ion-col:nth-child(1){
      margin-right: 2.5px;
    }
    ion-col:nth-child(2){
      margin-left: 2.5px;
    }
    ion-row{
      margin-bottom: 5px;
    }
  }
}
.cvg-row{
  font-size: 12px;
  text-align: center;
}
