ion-content {
  --background: url(../../../assets/images/bg.png) no-repeat center/cover fixed;
  background-color: #fffffffc;
}

ion-col.ios.hydrated:nth-child(odd) {
  margin: 10px 8px 10px auto;
}

ion-col.ios.hydrated:nth-child(even) {
  margin: 10px auto 10px 8px;
}

ion-col.ios.hydrated {
  padding: 20px;
  display: grid;
  border-radius: 20px;
  box-shadow: 0 3px 6px rgb(222 125 3 / 16%), 0 3px 6px rgba(0, 0, 0, 0.23);
}

ion-col.ios.hydrated img {
  filter: invert(1)
}

ion-col.ios.hydrated p {
  color: white;
}

ion-col.ios.hydrated:nth-child(1) {
  // background-color: orange;
  // margin: 10px auto;
  /* min-height: 200px; */
  transition: all 0.5s ease;
  background-image: linear-gradient(90deg, rgb(255, 170, 87) 0%, rgb(254, 92, 118) 100%) !important;
  color: white !important;
  box-shadow: 0 8px 15px -5px rgb(255, 170, 87);
}

ion-col.ios.hydrated:nth-child(2) {
  // background-color: red;
  transition: all 0.5s ease;
  background-image: linear-gradient(0deg, #2196F3 0%, #3F51B5 100%) !important;
  -webkit-box-shadow: 0 8px 15px -5px #7d0e98;
  color: white !important;
  box-shadow: 0 8px 15px -5px #3F51B5;
}

ion-col.ios.hydrated:nth-child(5) {
  // background-color: green;
  // margin: 10px auto;
  /* min-height: 200px; */
  transition: all 0.5s ease;
  background-image: linear-gradient(90deg, rgb(255, 170, 87) 0%, rgb(254, 92, 118) 100%) !important;
  color: white !important;
  box-shadow: 0 8px 15px -5px rgb(255, 170, 87);
}

ion-col.ios.hydrated:nth-child(4) {
  // background-color: blue;
  transition: all 0.5s ease;
  background-image: linear-gradient(90deg, rgb(255, 170, 87) 0%, rgb(254, 92, 118) 100%) !important;
  color: white !important;
  box-shadow: 0 8px 15px -5px rgb(255, 170, 87);
}

ion-col.ios.hydrated:nth-child(3) {
  // background-color: rgb(225, 255, 0);
  transition: all 0.5s ease;
  background-image: linear-gradient(0deg, #2196F3 0%, #3F51B5 100%) !important;
  -webkit-box-shadow: 0 8px 15px -5px #7d0e98;
  color: white !important;
  box-shadow: 0 8px 15px -5px #3F51B5;
}

ion-col.ios.hydrated:nth-child(7) {
  // background-color: rgb(255, 0, 64);
  transition: all 0.5s ease;
  background-image: linear-gradient(90deg, rgb(255, 170, 87) 0%, rgb(254, 92, 118) 100%) !important;
  color: white !important;
  box-shadow: 0 8px 15px -5px rgb(255, 170, 87);
  margin: 10px auto;
}

ion-col.ios.hydrated:nth-child(6) {
  // background-color: rgb(255, 94, 0);
  transition: all 0.5s ease;
  background-image: linear-gradient(0deg, #2196F3 0%, #3F51B5 100%) !important;
  -webkit-box-shadow: 0 8px 15px -5px #7d0e98;
  color: white !important;
  box-shadow: 0 8px 15px -5px #3F51B5;
}


.row1 {
  padding: 10px 0;

  ion-col {
    // div{
    //   width: 90%;
    //   height: 50px;
    //   background: green;
    //   border-radius: 20px;
    //   margin: auto;
    //   text-align: center;
    //   display: inline-block;
    //   p{
    //     padding: 0;
    //     margin: 0;
    //     color: white;
    //   }
    // }
  }
}

a {
  text-decoration: none;
  color: black;
}

.categories {
  .title {
    font-weight: 500;
    margin: 10px 10px;
    font-size: 15px;
  }
}

.categories-item {
  text-align: center;
  // padding-top: 20px;

  ion-col {
    margin: 10px auto;
  }

  img {
    width: 55px;
  }

  p {
    padding: 0;
    margin: 0;
  }
}

.last-txn-row {
  margin-top: 20px;

  .last-txn-container {
    width: 100%;
    background: #13133a;
    color: white;
    margin: 0 25px;
    border-radius: 10px;
    padding: 5px 10px;
    display: inline-block;
  }
}

.last-txn-left {
  float: left;
  border-right: 1px solid white;
  padding-right: 25px;
}

.last-txn-right {
  // float: right;
  text-align: center;
}

.circle {
  .outer {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 5px solid #676060;
  }
}

.month {
  font-size: 12px;
}

.header-margin {
  padding-top: 80px;
}