<ion-content>
  <app-header [title]="'Policy Detail'"></app-header>
  <div class="container">
    <div class="green-box header-margin">
      <div class="title-container">
        <!-- <div class="logo">
        <img src="../../../assets/icon/reminders.png" alt="">
      </div> -->
        <div class="policy-name">
          <span *ngIf="pageTitle==='life-insurance'">
            {{item.company}}
          </span>
          <span *ngIf="pageTitle==='vehicle-insurance'">
            {{item.insuranceCompany}}
          </span>
          <span *ngIf="pageTitle==='mediclaim'">
            {{item.company}}
          </span>
          <span *ngIf="pageTitle==='others'">
            {{item.schemeName}}
          </span>
          <span *ngIf="pageTitle==='corporate-insurance'">
            {{item.insuranceCompanyName}}
          </span>
        </div>
      </div>
      <div class="table">
        <div *ngIf="pageTitle==='life-insurance'">
          <div class="row1">
            <ion-row>
              <ion-col>Cover Amount</ion-col>
              <ion-col>Premium</ion-col>
              <ion-col>Valid till</ion-col>
            </ion-row>
            <ion-row class="data-col">
              <ion-col>{{item.sumAssured}}</ion-col>
              <ion-col>{{item.annualPremium}}</ion-col>
              <ion-col>{{item.lastPremiumPayYear}}</ion-col>
            </ion-row>
          </div>
          <div class="row2">
            <ion-row>
              <ion-col>Plan</ion-col>
              <ion-col>Policy Number</ion-col>
              <ion-col>Maturity Date</ion-col>
            </ion-row>
            <ion-row class="data-col">
              <ion-col>{{item.plan}}</ion-col>
              <ion-col>{{item.policyNo}}</ion-col>
              <ion-col>{{item.dateOfMaturity}}</ion-col>
            </ion-row>
          </div>
        </div>
        <div *ngIf="pageTitle==='vehicle-insurance'">
          <div class="row1">
            <ion-row>
              <ion-col>NCB</ion-col>
              <ion-col>Premium</ion-col>
              <ion-col>Vehicle</ion-col>
            </ion-row>
            <ion-row class="data-col">
              <ion-col>{{item.currentNCB}}</ion-col>
              <ion-col>{{item.premium}}</ion-col>
              <ion-col>{{item.vehicleName}}</ion-col>
            </ion-row>
          </div>
          <div class="row2">
            <ion-row>
              <ion-col>Registration No</ion-col>
              <ion-col>Policy Number</ion-col>
              <ion-col>Renewal Date</ion-col>
            </ion-row>
            <ion-row class="data-col">
              <ion-col>{{item.registrationNumber}}</ion-col>
              <ion-col>{{item.policyNumber}}</ion-col>
              <ion-col>{{item.renewalDate}}</ion-col>
            </ion-row>
          </div>
        </div>
        <div *ngIf="pageTitle==='mediclaim'">
          <div class="row1">
            <ion-row>
              <ion-col>Cover Amount</ion-col>
              <ion-col>Premium</ion-col>
              <ion-col>Renewal Date</ion-col>
            </ion-row>
            <ion-row class="data-col">
              <ion-col>{{item.sumAssured}}</ion-col>
              <ion-col>{{item.premium}}</ion-col>
              <ion-col>{{item.renewalDate}}</ion-col>
            </ion-row>
          </div>
          <div class="row2">
            <ion-row>
              <ion-col>Plan</ion-col>
              <ion-col>Plan Type</ion-col>
              <ion-col>Policy Number</ion-col>
            </ion-row>
            <ion-row class="data-col">
              <ion-col>{{item.plan}}</ion-col>
              <ion-col>{{item.typeOfPlan}}</ion-col>
              <ion-col>{{item.policyNumber}}</ion-col>
            </ion-row>
          </div>
        </div>
        <div *ngIf="pageTitle==='others'">
          <div class="row1">
            <ion-row>
              <ion-col>First Holder</ion-col>
              <ion-col>Folio No.</ion-col>
              <ion-col>D.O.B.</ion-col>
            </ion-row>
            <ion-row class="data-col">
              <ion-col>{{item.firstholder}}</ion-col>
              <ion-col>{{item.folioNo}}</ion-col>
              <ion-col>{{item.dobAccountHolder}}</ion-col>
            </ion-row>
          </div>
          <div class="row2">
            <ion-row>
              <ion-col>Investment</ion-col>
              <ion-col>Maturity Value</ion-col>
              <ion-col>Tax Benefit</ion-col>
            </ion-row>
            <ion-row class="data-col">
              <ion-col>{{item.investmentAmount}}</ion-col>
              <ion-col>{{item.maturityValue}}</ion-col>
              <ion-col>{{item.taxBenefit}}</ion-col>
            </ion-row>
          </div>
        </div>
        <div *ngIf="pageTitle==='corporate-insurance'">
          <div class="row1">
            <ion-row>
              <ion-col>Company</ion-col>
              <ion-col>GST No.</ion-col>
              <ion-col>Status</ion-col>
            </ion-row>
            <ion-row class="data-col">
              <ion-col>{{item.companyName}}</ion-col>
              <ion-col>{{item.gstNo}}</ion-col>
              <ion-col>{{item.statusOfPolicy}}</ion-col>
            </ion-row>
          </div>
          <div class="row2">
            <ion-row>
              <ion-col>Premium</ion-col>
              <ion-col>Policy Number</ion-col>
              <ion-col>Renewal Date</ion-col>
            </ion-row>
            <ion-row class="data-col">
              <ion-col>{{item.premium}}</ion-col>
              <ion-col>{{item.policyNumber}}</ion-col>
              <ion-col>{{item.renewalDate}}</ion-col>
            </ion-row>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="file-claim">
    <div class="btn-container" (click)="fileAClaim()">
      <div class="btn">
        <ion-icon name="flag"></ion-icon>
        View Policy
      </div>
    </div>
  </div> -->
    <div class="body">
      <!-- <div class="cards">
      <div class="card1">
        <div class="data-icon">
          <div class="data">
            <div class="data1">Cashless hospitals</div>
            <div class="data2">56</div>
          </div>
          <div class="icon">
            <img src="../../../assets/icon/favicon.png" alt="">
          </div>
        </div>
        <div class="sub-title">In Bhopal</div>
        <div class="divider"></div>
        <div class="footer">
          <span>View</span>
          <ion-icon name="chevron-forward-circle-outline"></ion-icon>
        </div>
      </div>
      <div class="card2">
        <div class="data-icon">
          <div class="data">
            <div class="data1">Payment history</div>
            <div class="data2">1/12</div>
          </div>
          <div class="icon">
            <img src="../../../assets/icon/favicon.png" alt="">
          </div>
        </div>
        <div class="sub-title">Due on 10 Oct</div>
        <div class="divider"></div>
        <div class="footer">
          <span>Setup Autopay</span>
          <ion-icon name="chevron-forward-circle-outline"></ion-icon>
        </div>
      </div>
      <div class="card3">
        <div class="data-icon">
          <div class="data">
            <div class="data1">Reminders</div>
            <div class="data2">03</div>
          </div>
          <div class="icon">
            <img src="../../../assets/icon/favicon.png" alt="">
          </div>
        </div>
        <div class="sub-title">Currently Active</div>
        <div class="divider"></div>
        <div class="footer">
          <span>Add</span>
          <ion-icon name="chevron-forward-circle-outline"></ion-icon>
        </div>
      </div>
    </div> -->
      <div class="glance">
        <!-- <span class="quick">Quick Glance</span> -->
        <div class="future">
          <span class="black">Make Your</span>
          <span class="blue">Future Better</span>
        </div>
        <!-- <div class="quiz">
        <div class="box">
          <div class="desc">
            Know your policy? Take a Quiz
          </div>
        </div>
        <div class="box">
          <div class="desc">
            Policy Need a correction
          </div>
        </div>
      </div> -->
      </div>
      <div class="divider"></div>
      <div class="file-claim">
        <div class="btn-container">
          <div class="btn" routerLink="/tabs/view-policy/">
            <!-- <ion-icon name="flag"></ion-icon> -->
            View Policy
          </div>
        </div>
        <!-- <div class="help">Need Help?</div> -->
      </div>
    </div>
  </div>
</ion-content>