<app-header [title]="'Upcoming Maturities'"></app-header>
<ion-content>
  <div class="padding">
    <div class="month-tabs header-margin">
      <div>Check your upcoming maturities in</div>
      <div class="year-btn" id="click-trigger">{{selectedYear}}</div>
      <ion-popover trigger="click-trigger" triggerAction="click">
        <ng-template>
          <div class="popover-list-item"
          [ngClass]="selectedYear == year.year ? 'clicked' : ''" (click)="yearSelected(i)"
          *ngFor="let year of years;let i=index">{{year.year}}</div>
        </ng-template>
      </ion-popover>
    </div>
    <div *ngFor="let arr of maturitiesArr" class="card-container">
      <div class="month-title">
        <div class="month">{{arr.year}}</div>
        <div class="amount">RS {{arr.totalSum}}/-</div>
      </div>
      <div class="table investorCard">
      <generice-portfolio-table
            [tableTitle]="tableTitle"
            [tableData]="arr.tableData"
            (gotoDetailEvent)="gotoDetail($event)"
      ></generice-portfolio-table>
      </div>
    </div>
    <div *ngIf="upcomingMaturitychart" class="bar-chart">
      <div class="graph-title">Upcoming Maturities</div>
      <highcharts-chart
        [Highcharts]="highcharts"
        [options]="upcomingMaturitychart"
        style="width: 100%; display: block"
      ></highcharts-chart>
    </div>
    <div *ngIf="lifetimeMaturityChart" class="bar-chart">
      <div class="graph-title">Lifetime maturity</div>
      <highcharts-chart
        [Highcharts]="highcharts"
        [options]="lifetimeMaturityChart"
        style="width: 100%; display: block"
      ></highcharts-chart>
    </div>
  </div>
</ion-content>
