<ion-content>
  <ion-header class="app-header">
    <ion-toolbar>
      <ion-buttons class="menu-btn">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-searchbar></ion-searchbar>
      <ion-avatar>
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/demos/api/avatar/avatar.svg" />
      </ion-avatar>
    </ion-toolbar>
  </ion-header>
  <div class="title">
    {{page.toUpperCase()}}
  </div>
  <ion-row *ngFor="let portfolio of portfoliosInvestments[page];let i =index">
    <ion-col>
      <div>
        <a [routerLink]="'/generic-portfolios/'+page+'/' + portfolio.name+'/'+i">{{portfolio.name}}</a>
      </div>
    </ion-col>
  </ion-row>
</ion-content>
