<ion-content>
  <ion-slides
    pager="true"
    (ionSlideWillChange)="ionSlideTouchEnd()"
    [options]="slideOpts"
  >
    <!-- Intro Screen 1 -->
    <ion-slide>
      <p class="skip" (click)="finish()">SKIP</p>
      <div>
        <img src="assets/icon/intro1.png" alt="" />
        <span>KNOW YOUR INVESTMENTS BETTER WITH US...</span>
      </div>
    </ion-slide>
    <!-- Intro Screen 2 -->
    <ion-slide>
      <p class="skip" (click)="finish()">SKIP</p>
      <div>
        <img src="assets/icon/intro2.png" alt="" />
        <span>KNOW WHAT YOU OWN, AND KNOW WHY YOU OWN IT.</span>
      </div>
    </ion-slide>
    <!-- Intro Screen 3 -->
    <ion-slide>
      <div>
        <img src="assets/icon/intro3.png" alt="" />
        <span class="sub-span">“A STITCH IN TIME SAVES NINE”</span>
        <span>LET'S CONNECT TO UPGRADE YOUR PORTFOLIO</span>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
<ion-fab *ngIf="isLastSlide" slot="fixed" vertical="top" horizontal="end">
  <ion-fab-button color="transparent" (click)="finish()">
    <ion-icon style="color: #004aad" name="arrow-forward"></ion-icon>
  </ion-fab-button>
</ion-fab>
