ion-slides {
  // max-height: -webkit-fill-available;
  height: 100%;
  --bullet-background-active: #004AAD;
  --bullet-background: #004AAD;
  background: white;
  img {
    max-width: 40vh;
    margin: auto;
    /* text-align: center; */
    /* justify-content: center; */
    display: block;
  }
  span{
    color: #004AAD;
    font-weight: bold;
    font-size: 3vh;
  }
  .sub-span{
    font-size: 2vh;
    margin-bottom: 15px;
    display: block;
  }
}

.skip {
  position: absolute;
  top: 10px;
  right: 20px;
  color: #004AAD;
}
