<app-header [title]="'Account'"></app-header>

<ion-content>
  <div class="profile-header">
    <div class="profile-img">
      <div class="img">
        <img [src]="usr.previewUrl || '/assets/images/profile.png'" alt="" />
        <ion-button (click)="selectImg()" fill="clear">
          <ion-icon name="camera"></ion-icon>
        </ion-button>
      </div>
      <div class="profile-info">
        <div>{{usr.firstName}}</div>
        <div>{{usr.occupation}}</div>
        <div>
          <ion-icon name="location"></ion-icon>
          {{usr.address}}
        </div>
      </div>
    </div>
  </div>
  <!-- <ion-card>
    <ion-card-content>
      <ion-card-header>
        <ion-card-title>{{usr.firstName}}</ion-card-title>
        <ion-card-subtitle>
          <p>{{usr.mobile}}</p>
          <p>{{usr.email}}</p>
          <p>{{usr.dob | date}}</p>
        </ion-card-subtitle>
      </ion-card-header>
    </ion-card-content>
  </ion-card> -->

  <ion-list lines="full" mode="ios">
    <!-- <ion-item (click)="editProfile()">
      <ion-label>Edit Profile</ion-label>
      <ion-button fill="clear" slot="end">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-button>
    </ion-item> -->
    <ion-item (click)="editProfile()">
      <ion-label>Personal Information</ion-label>
      <ion-button fill="clear" slot="end">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item (click)="editProfile()">
      <ion-label>Family Member Details</ion-label>
      <ion-button fill="clear" slot="end">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item >
      <ion-label>About Us </ion-label>
      <ion-button fill="clear" slot="end">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item >
      <ion-label>Terms & Conditions </ion-label>
      <ion-button [routerLink]="'/terms-n-condition'" fill="clear" slot="end">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-label>Privacy Policy</ion-label>
      <ion-button [routerLink]="'/privacy-policy'" fill="clear" slot="end">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item (click)="settings()">
      <ion-label>Settings </ion-label>
      <ion-button fill="clear" slot="end">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item (click)="logout()">
      <ion-label>Logout </ion-label>
      <ion-button fill="clear" slot="end">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
