<app-header></app-header>
<ion-content>
  <div class="content-container">
    <div class="list-position-relative">
    <div class="search-container">
      <ion-icon (click)="startListening()" name="mic-outline"></ion-icon>
      <ion-searchbar
      [debounce]="100"
        placeholder="Enter policy/company name"
        (ionChange)="handleInput($event)"
        [(ngModel)]="searchStr">
      </ion-searchbar>
      <!-- <ion-button fill="clear"> -->
        <ion-icon (click)="handleInput()" name="Search"></ion-icon>
      <!-- </ion-button> -->
    </div>
    <ion-list lines="none" *ngIf="filteredArr.length" class="search-list">
      <ion-item *ngFor="let result of filteredArr" (click)="gotoPolicy(result)">
        <ion-label>{{ result.searchKey }}</ion-label>
      </ion-item>
    </ion-list>
    </div>
  <!-- <button ion-button full (click)="startListening()">Start Listening</button> -->
  <!-- <button ion-button full (click)="stopListening()" *ngIf="isIos()">Stop Listening</button> -->

    <ion-row class="categories-item">
      <ion-col (click)="onClick('portfolios')" class="ion-activatable">
        <a>
          <div>
            <p>MY PORTFOLIO</p>
          </div>
          <div class="portfolio-container">
            <img
              [src]="'../../../assets/icon/dashboard/MYPORTFOLIO.png'"
              alt=""
            />
          </div>
        </a>
      </ion-col>
    </ion-row>
    <ion-row class="categories-item">
      <ion-col class="ion-activatable margin-right">
        <a (click)="onClick('sum-assured')">
          <img [src]="'../../../assets/icon/dashboard/SUMASSURED.png'" alt="" />
          <p>Sum Assured</p>
        </a>
      </ion-col>
      <ion-col class="ion-activatable">
        <a (click)="onClick('rider-sum-assured')">
          <img
            [src]="'../../../assets/icon/dashboard/RIDERSUMASSURED.png'"
            alt=""
          />
          <p>Rider Sum Assured</p>
        </a>
      </ion-col>
    </ion-row>

    <ion-row class="categories-item">
      <ion-col class="ion-activatable margin-right">
        <a (click)="onClick('upcoming-maturities')">
          <img [src]="'../../../assets/icon/dashboard/MATURITIES.png'" alt="" />
          <p>Maturities</p>
        </a>
      </ion-col>
      <ion-col class="ion-activatable">
        <a (click)="onClick('upcoming-renewals')">
          <img [src]="'../../../assets/icon/dashboard/RENEWALS.png'" alt="" />
          <p>Renewals</p>
        </a>
      </ion-col>
    </ion-row>
  </div>
  <div class="bottom-banner">
    <a href="tel:9926999379" class="banner-cnt">
      <div class="logo">
        <img src="../../../assets/icon/dashboard/MYSOSFAMILY.png" alt="" />
      </div>
      <div class="title">WE ARE HERE WITH YOU</div>
    </a>
  </div>
</ion-content>
